---

//  -------------------------------------------------------------------------
//  ----------  /UdemyLayout.antonydev.tech/src/pages/index.astro  ----------
//  -------------------------------------------------------------------------

import UdemyLayout from '@layouts/UdemyLayout.astro';
import NavBarUdemy from '@components/NavBarUdemy.astro';


---

<UdemyLayout>
	
    <h1> Cursos de Udemy </h1>
    
    <NavBarUdemy />

</UdemyLayout>
