---

//  -----------------------------------------------------------------------------------
//  ----------  /udemy.antonydev.tech/src/components/NavBarCursoHtml5.astro  ----------
//  -----------------------------------------------------------------------------------

import "@styles/navbar-udemy.css";

---

<nav class="layout__navbar">

    <ul class="navbar__list">

        <li class="navbar__item">
            <a> Aprendiendo HTML </a>
            <ul class="navbar-submenu__list">
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/etiquetas"> Etiquetas </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/estructura"> Estructura </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/listas"> Listas </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/imagenes"> Imagenes </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/audio"> Audio </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/video"> Video </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/iframe"> iFrame </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/tablas"> Tablas </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/formularios"> Formularios </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/aprendiendo-html5/mas-etiquetas-html5"> Mas Etiquetas </a> </li>
            </ul>
        </li>
        
        <li class="navbar__item"> 
            <a href="/curso-html5/proyecto-html5"> Proyecto HTML </a> 
            <ul class="navbar-submenu__list">
                <li class="navbar-submenu__item"> <a href="/curso-html5/proyecto-html5/multimedia"> Multimedia </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/proyecto-html5/dieta"> Dieta </a> </li>
                <li class="navbar-submenu__item"> <a href="/curso-html5/proyecto-html5/contacto"> Contacto </a> </li>
            </ul>
        </li>
        
        <li class="navbar__item"> 
            <a href="#"> Aprendiendo CSS </a> 
        </li>

    </ul>

</nav>
