---
//  ------------------------------------------------------------------------------
//  ----------  /udemy.antonydev.tech/src/components/NavBarUdemy.astro  ----------
//  ------------------------------------------------------------------------------

import "@styles/navbar-udemy.css";

---

<nav class="layout__navbar">
  
    <ul class="navbar__list">
        <!--  -----  Curso HTML 5  -----  -->
        <li class="navbar__item">
            <a href="./curso-html5"> Curso HTML 5 </a>
        </li>

        <!--  -----  Master CSS  -----  -->
        <li class="navbar__item">
            <a href="./master-css"> Master CSS </a>
        </li>
  </ul>

</nav>
